

<table class="table">
  <thead>
    <tr>
      <th><h2>Feed</h2></th>
    </tr>
  </thead>
  <tbody id="message-index">
    <%= for message <- Enum.reverse(@messages) do %>
        <tr>
          <td><%= message.contant %></td>

          <td class="text-right">
            <span><%= link "Show", to: message_path(@conn, :show, message), class: "btn btn-default btn-xs" %></span>
          </td>
        </tr>
    <% end %>
  </tbody>
</table>
